{% extends 'base.html' %}
{% load static %}
{% block title %}
College Cutoff Rank Analyser
{% endblock title %}
{% block content %}
<div class="container">
    <h1>Find out Cutoff Rank of college in 2023</h1>
    <p>Find out a course wise CutOff rank for different counseling rounds in any college</p>
    <div class="row my-3">
        <div class="col-md-6">
            <div class="card p-3 shadow">
                <div class="mb-3">
                    <label for="id_course_category" class="form-label">Select Your Course Category Under CET:</label>
                    <select class="form-control" id="id_course_category" onchange="get_colleges();">
                        <option value="">--select--</option>
                        {% for type in types %}
                        <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_college" class="form-label">Select a College:</label>
                    <select class="form-control" id="id_college" onchange="get_data()">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_category" class="form-label">Choose your reservation Category</label>
                    <select class="form-control" id="id_category" onchange="get_data()">
                        <option>--select--</option>
                        {% for i in categories %}
                            <option value="{{ i.name }}">{{ i.verbose_name }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="mb-3">
                    <label for="id_round" class="form-label">Select KCET Round:</label>
                    <select class="form-control" id="id_round" onchange="get_data()">
                        <option value="Round 1">1st Round</option>
                        <option value="Round 2">2nd Round</option>
                        <option value="Round 2 Extended">2nd extended Round</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div id="scroll_to_me" class="col-md-6">
            <div class="card shadow" id="college_cutoff_table" style="display: none;">
                <div class="card-body">
                    <h3 class="card-title" id="college_name"></h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>  
                          <th scope="col">Course</th>
                          <th scope="col">Cutoff</th>
                        </tr>
                      </thead>
                      <tbody id="course_cutoff">
                      </tbody>
                  </table>
            </div>
        </div>
    </div>
    {% include 'page_description/kcet-college-cutoff.html' %}
</div>
<div class="loader"></div>
<i id="id_scroll_up"></i>
<script src="{% static 'js/scrollup.js' %}"></script>
<script src="{% static 'js/cutoff-college.js' %}?v=1"></script>
{% endblock content %}