<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1>Apply for Management Seats </h1>
            <p class="text-success">Only Website to Apply for Management Quota Seats in All the Colleges of
                Karnataka
                State</p>
            <p><i>***This is a beta version available for UG admission in Colleges belonging to Karnataka State
                    only</i></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>