{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="card my-2">
        <div class="card-body">
            <h1>Apply for Management Seats </h1>
            <p class="text-success">Only Website to Apply for Management Quota Seats in All the Colleges of Karnataka
                State</p>
            <p><i>***This is a beta version available for UG admission in Colleges belonging to Karnataka State only
                </i></p>
        </div>
    </div>
    <form action="" method="post">
        <div class="col-md-6">
            <div id="step1">
                <h2>Step 1: Introduction</h2>
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name in Full (As per 10th & 12th Std Records): </label>
                    <input id="id_name" type="text" class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label for="id_birth_date" class="form-label">Date of Birth: </label>
                    <input id="id_birth_date" type="date" class="form-control" name="birth_date">
                </div>
                <div class="mb-3">
                    <label for="id_father_name" class="form-label">Father / Guardian Name: </label>
                    <input id="id_father_name" type="text" class="form-control" name="father_name">
                </div>
                <div class="mb-3">
                    <label for="id_contact" class="form-label"> Contact No:</label>
                    <input id="id_contact" type="text" class="form-control" name="contact">
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email Id:</label>
                    <input id="id_email" type="text" class="form-control" name="email">
                </div>
                <button class="btn btn-warning">Next</button>
            </div>
            <div id="step2">
                <h2>Step 2: Select the Course you are seeking admission to </h2>
                <div class="mb-3">
                    <label for="id_course_category" class="form-label">Select Course Category	</label>
                    <input type="text" class="form-control" id="id_course_category" name="course_category">
                </div>
                <div class="mb-3">
                    <label for="id_course" class="form-label">Select Course</label>
                    <input id="id_course" type="text" class="form-control" name="course">
                </div>
                <button class="btn btn-warning">Next</button>
            </div>
            <div id="step3">
                <h2>Step 3: Select the college you are seeking admission to	</h2>
                <div class="mb-3">
                    <label for="id_college_location" class="form-label">Select College Location</label>
                    <input type="text" class="form-control" id="id_college_location" name="college_location">
                </div>

                <div class="mb-3">
                    <label for="id_college" class="form-label">Select College</label>
                    <input type="text" class="form-control" id="id_college" name="college">
                </div>
            </div>
            <div id="step4">
                <h2>Step 4: Fill the Education Qualification </h2>
                <div class="mb-3">
                    <label for="id_year">Year in Which you passed 12th</label>
                    <input type="number" class="form-control" id="id_year" name="year">
                </div>
                <div class="mb-3">
                    <p>Examination Board</p>
                    <select class="form-select" name="board" id="id_board">
                        <option value="Karnataka PU Board">Karanataka PU Board</option>
                        <option value="Kerala DHSE">Kerala DHSE</option>
                        <option value="CBSE">CBSE</option>
                        <option value="ICSE">ICSE</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_school" class="form-label">Name of School / College in which you study 12th</label>
                    <input type="text" class="form-control" id="id_school" name="school"> 
                </div>
                <div class="mb-3">
                    label#for
                </div>
            </div>
            <div id="step5">
                <h2>Step 5: Upload the Documents</h2>
            </div>
        </div>
    </form>
</div>

{% endblock content %}