{% extends 'base.html' %}

{% block title %}
Admissions at College Seat Finder
{% endblock title %}

{% block content %}



<div class="container">
    {% if user.is_superuser %}

    <a class="btn btn-primary mb-3" href="/admissions/export-excel">Export Excel</a>
    
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h1>Admissions @ College Seat Finder</h1>

            <p class="card-text">
                2023 Admissions already over!
            </p>
            <p class="card-text">
                Next 2024 window yet to open
            </p>
            <p class="card-text">However you just let us know your choics of <b>course</b> and <b>college</b></p>
            
        </div>

    </div>
    {% if submit %}

    <div class="card m-3">
        <div class="card-body">
            <div class="alert alert-success">
                Thank you for submitting the form, we will update you soon!
            </div>
        </div>
    </div>
    
    {% endif %}
    <div class="row">
        <div class="col-md-6">    
            <div class="card mt-3">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_course" class="form-label">Course</label>
                            <input id="id_course" type="text" class="form-control" name="course">
                        </div>
                        <div class="mb-3">
                            <label for="id_college" class="form-label">College</label>
                            <input id="id_college" type="text" class="form-control" name="college">
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input id="id_email" type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="id_whatsapp" class="form-label">Whatsapp number</label>
                            <input id="id_whatsapp" type="text" class="form-control" name="whatsapp_no">
                        </div>
                        <button class="btn btn-primary my-3">Submit</button>
                        <p>We will update you when Admissions starts</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>


{% endblock content %}